@font-face {
  font-family: 'Proxima Nova';
  font-weight: 400;
  src: url('../fonts/PROXIMA_NOVA_REGULAR.OTF');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 700;
  src: url('../fonts/PROXIMA_NOVA_BOLD.OTF');
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 16px;
  color: #333;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
button,
textarea,
input::placeholder,
textarea::placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}




/* HEADER START */

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  display: flex;
  box-shadow: -100px 3px 10px 0 rgba(115, 143, 147, 0.3);
  transition: all 0.2s ease-in-out;
}

.header__logo {
  display: flex;
  background-color: #673549;
  background-image: linear-gradient(-35deg, #f8a24d 0%, #ab435a 50%, #663366 100%);
}

.header__logo-letter {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo-letter > span {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #fff;
  padding-top: 3px;
  padding-left: 3px;
  box-sizing: border-box;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.75px;
  text-transform: uppercase;
}

.header__logo-word {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 30px;
  box-sizing: border-box;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  line-height: 35.63px;
  text-transform: uppercase;
}

.header__logo--no-word {
  width: 100px;
}

.header__logo--no-word > .header__logo-word {
  display: none;
}

.header__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 60px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

.header__description {
  max-width: 175px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

.header__nav {
  display: flex;
}

.header__nav {
  display: flex;
}

.header__nav > ul {
  display: flex;
}

.header__nav > ul > li {
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.header__nav > ul > li:not(:last-child) {
  margin-right: 90px;
}

.header__nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-top: 4px solid #fff;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  padding-bottom: 4px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.header__nav-link:hover {
  color: #bb555c;
  border-top: 4px solid #bb555c;
}

.header__call {
  display: flex;
  align-items: center;
}

.header__call-number {
  margin-right: 70px;
  display: flex;
  align-items: center;
  color: #333;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  transition: all 0.2s ease-in-out;
}

.header__call-number:hover {
  color: #bb555c;
}

@media (max-width: 1919px) {

  .header__nav > ul > li:not(:last-child) {
    margin-right: 30px;
  }

  .header__call-number {
    margin-right: 40px;
  }

}

@media (max-width: 1599px) {

  .header__nav-link {
    font-size: 16px;
  }

  .header__call-number {
    font-size: 20px;
  }

  .header__inner {
    padding-right: 32px;
  }

  .header__description {
    font-size: 18px;
  }

}

@media (max-width: 1439px) {

  .header__nav > ul > li:not(:last-child) {
    margin-right: 15px;
  }

}

/* HEADER END */




/* BTN START */

.btn {
  min-width: 210px;
  height: 50px;
  border-radius: 25px;
  border: 0;
  color: #411659;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 15px 50px rgba(64, 21, 89, 0.2);
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn:hover {
  color: #fff;
  background-color: #333;
  box-shadow: 0 25px 60px rgba(64, 21, 89, 0.2);
}

.btn--gradient {
  color: #fff;
  background-image: linear-gradient(-35deg, #f8a24d 0%, #ab435a 50%, #663366 100%);
  box-shadow: 0 8px 8px rgba(102, 102, 102, 0.16);
}

.btn--gradient:hover {
  box-shadow: 0 7px 9px rgba(102, 102, 102, 0.4);
}

/* BTN END */




/* MENU START */

.menu {
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 0;
  bottom: 0;
  width: 100px;
  height: calc(100% - 100px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 3px 10px 0 rgba(115, 143, 147, 0.3);
  transition: all 0.2s ease-in-out;
}

.menu__social {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu__social:after {
  margin-top: 20px;
  content: '';
  display: block;
  width: 1px;
  height: 100px;
  background-color: #8a94a2;
  opacity: 0.4;
  transition: all 0.2s ease-in-out;
}

.menu__social > ul {
  display: flex;
  flex-direction: column;
}

.menu__social > ul > li {
  display: flex;
}

.menu__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__social-link > img:nth-child(2) {
  display: none;
}

.menu__social-link:hover > img:nth-child(2) {
  display: block;
}

.menu__social-link:hover > img:nth-child(1) {
  display: none;
}

.menu__social > ul > li:not(:last-child) {
  margin-bottom: 10px;
}

.menu__hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.menu__hamburger > div {
  width: 26px;
  height: 3px;
  background-color: #000;
  transition: all 0.2s ease-in-out;
}

.menu__hamburger:hover > div {
  background-color: #bb555c;
}

.menu__hamburger > div:not(:last-child) {
  margin-bottom: 5px;
}

.menu__hamburger--align-self-center {
  align-self: center;
}

.menu__hamburger--veritcal-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes bounce {

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(0);
  }

}

.menu__mouse {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.menu__mouse:before {
  margin-bottom: 20px;
  content: '';
  display: block;
  width: 1px;
  height: 100px;
  background-color: #8a94a2;
  opacity: 0.4;
  transition: all 0.2s ease-in-out;
}

.menu__mouse > img {
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@media (min-width: 1365px) and (max-width: 1439px) {

  .menu__social:after {
    height: 60px;
  }

  .menu__mouse:before {
    height: 60px;
  }

}

/* MENU END */




/* FULLPAGE START */

#fullpage {
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
}

#fp-nav.fp-right {
  right: 34px !important;
}

#fp-nav > ul > li:not(:last-child) {
  margin-bottom: 44px !important;
}

#fp-nav > ul > li > a {
  width: 8px !important;
  height: 8px !important;
  display: block;
  background-color: #000;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

#fp-nav > ul > li > a:after {
  opacity: 0;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #b95158;
  border-radius: 50%;
  transform: translate(-7px, -7px) scale(0.5);
  transition: all 0.2s ease-in-out;
}

#fp-nav > ul > li > a.active {
  background-color: #bb555c;
}

#fp-nav > ul > li > a.active:after {
  opacity: 1;
  transform: translate(-7px, -7px) scale(1);
}

#fp-nav > ul > li > a > span {
  display: none !important;
}

/* FULLPAGE END */




/* WELCOME START */

.welcome {
  display: flex;
}

.welcome__slide {
  display: flex;
  height: 100%;
  position: relative;
  color: #fff;
  font-size: 60px;
}

.welcome__slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: -1;
}

.welcome__slide-bg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome__arrow {
  width: 52px !important;
  height: 20px !important;
  background: none !important;
  margin-top: 0 !important;
  top: auto !important;
  bottom: 80px !important;
  transition: all 0.2s ease-in-out;
}

.welcome__arrow.swiper-button-prev {
  left: 120px;
}

.welcome__arrow.swiper-button-next {
  right: 120px;
}

.welcome .swiper-pagination {
  top: 180px !important;
  left: 120px !important;
  bottom: auto !important;
  text-align: left !important;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 4px;
  transition: all 0.2s ease-in-out;
}

.welcome .swiper-pagination:after {
  position: absolute;
  content: '';
  display: block;
  width: 100px;
  height: 1px;
  background-color: #fff;
  left: 80px;
}

.welcome__slide-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 120px;
  box-sizing: border-box;
}

.welcome__slide-info {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
}

.welcome__slide-info > h2 {
  max-width: 600px;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

.welcome__slide-info > p {
  margin-top: 40px;
  margin-bottom: 48px;
  max-width: 460px;
  color: #ffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.welcome__slide-img {
  margin-right: 120px;
}

.welcome__slide-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1919px) {

  .welcome .swiper-pagination {
    top: 140px !important;
  }

  .welcome__arrow {
    bottom: 40px !important;
  }

}

@media (max-width: 1599px) {

  .welcome .swiper-pagination {
    left: 60px !important;
  }

  .welcome__slide-info {
    min-width: 500px;
  }

  .welcome__slide-info > h2 {
    font-size: 50px;
  }

  .welcome__slide-inner {
    padding-left: 60px;
  }

  .welcome__arrow.swiper-button-prev {
    left: 60px;
  }

  .welcome__arrow.swiper-button-next {
    right: 60px;
  }

  .welcome__slide-img {
    margin-right: 60px;
  }

}

@media (min-width: 1365px) and (max-width: 1439px) {

  .welcome__slide-info > h2 {
    font-size: 40px;
  }

  .welcome__slide-info > p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 28px;
  }

}

/* WELCOME END */